body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://wallpapers.com/images/featured/best-minimal-background-13vs03odg3mhhaia.jpg') center/cover no-repeat fixed;
    color: #fff; /* Text color */
    font-family: 'Montserrat', sans-serif;
    overflow: hidden; /* Prevent scrollbar flash during animation */
}

.container {
    text-align: center;
}

.animate-text, .animate-links a {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p {
    font-size: 3em;
    margin-bottom: 20px; /* Added margin for spacing */
}

.links a {
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff; /* Text color for links */
    transition: color 0.3s ease;
    margin-bottom: 10px; /* Added margin for spacing between links */
    border-radius: 8px; /* Rounded corners for links */
    padding: 10px; /* Padding for links */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background for links */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
}

.links a:hover {
    color: #4183c4; /* Change color on hover */
    background-color: rgba(224, 224, 224, 0.7); /* Semi-transparent light gray background on hover */
}
