.main {
  color: #070707;
  background: fixed
      repeating-linear-gradient(
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      ),
    fixed
      repeating-linear-gradient(
        to right,
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      );
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 4rem);
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
  
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    text-align: center;
  }
}

.image {
  width: auto;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  display: block;
  
  @media screen and (max-width: 768px) {
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
    text-align: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  
  @media screen and (max-width: 768px) {
    padding: 1rem;
    align-items: center;
  }
}

.social-icons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}